/* style for index.html*/

.index-body {
    background: url('../images/01.jpg') center center no-repeat fixed;
    background-size: cover;
}

.wrapper {
    margin-top:40%;
}

h1 {
    color: #5fc1f0;
    font-size: 60px;
}

h5 {
    color: #5fc1f0;
}

.index-h1, 
.index-p,
.index-body .buttons {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    animation: fadein 3s ease-in;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.index-p {
    color: #fff;
}

button:focus{
    outline: none;
}

.buttons {
    border-radius: 5px;
    border: none;
    background-color: #1f9fcc;
    color: #fff;
    font-weight: bold;
    transition: 1s ease;
    padding-top: 3px;
    padding-bottom: 3px;
}

.buttons:hover {
    background-color: #1470bb;
}

.index-buttons {
    width: 105px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.modal-body h2 {
    color: #5fc1f0;
}


/* style for maumau.html */

.maumau-body {
    background: url('../images/02.jpg') center center no-repeat fixed;
    background-size: cover;
}

label {
    color: #5fc1f0;
    margin-bottom: 10px;
}

input {
    border-color: #1f9fcc;
    border-radius: 5px;
    padding-left: 10px;
}

.modal-button {
    margin-top: 10px;
}

hr {
    border-top: 1px solid #5fc1f0;
}

.table {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.player-score,
.player-name {
    font-weight: bold;
}

.win_btn {
    margin-top: 10px;
}

.del_btn {
    background-color: #9c0b06;
}

.del_btn:hover {
    background-color: #eb0c0c;
}

.winner-table {
    font-weight: bold;
    background-color: rgba(31,159,204,0.6);
}